[mysqld]
server-id=2
read-only=1
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
max-connections = 5000
sync-binlog=1
binlog-format=ROW
binlog-order-commits=1
innodb-flush-log-at-trx-commit=1
port=3308
relay-log-index=slave-relay-bin.index
relay-log=slave-relay-bin
log-bin=bin.log
log-slave-updates=ON
expire-logs-days=1
log-output=FILE
general-log=1
general-log-file=/var/lib/mysql/client-queries.log
